<form (ngSubmit)="checkavailabilty()">
  <mat-form-field appearance="fill" class="mt20 w100">
    <mat-label>Categories</mat-label>
    <mat-select name="category" [(ngModel)]="booking.seattype">
      <mat-option value="availAcSittingSeat">availAcSittingSeat</mat-option>
      <mat-option value="availNonAcSittingSeat">availNonAcSittingSeat</mat-option>
      <mat-option value="availNonAcSleeperSeat">availNonAcSleeperSeat</mat-option>
      <mat-option value="availAcSleeperSeat">availAcSleeperSeat</mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <button type="submit" class="btn btn-primary">Check Availability</button>
</form>
<hr>

 <form *ngIf="flag,else elseblock" (ngSubmit)="confirmbooking()">  
  <label>
    Passenger Name:
    <input type="text" [(ngModel)]="booking.pname" placeholder="Enter Passenger's name" required id="pname" name="pname">
  </label>
  <br>
  <label>
    Passenger Age:
    <input type="number" [(ngModel)]="booking.page" placeholder="Enter Passenger's age" required id="page" name="page">
  </label>
  <br>
  <label>
    Gender:
    <input type="text" [(ngModel)]="booking.pgender" placeholder="Enter Passenger's gender" required id="pgender" name="pgender">
  </label>
  <br>
  <label>
    Physical Disabled:

    <input type="text" [(ngModel)]="booking.disable"  required name="disable" id="disable" >
  </label>
  <br>
  <button type="button" (click)="checkPrice()" class="btn btn-primary">Calculate price</button>
  <br>
  <button type="submit"  class="btn btn-primary">Confirm Booking</button>
  {{finalprice}}
  {{t}}
  
</form>

<div>
  <ng-template #elseblock>
    <h1>Seat Not Available</h1>
  </ng-template>
</div>