<form (ngSubmit)="checkavailabilty()">
  <mat-form-field appearance="fill" class="mt20 w100">
    <mat-label>Categories</mat-label>
    <mat-select name="category" [(ngModel)]="booking.seattype">
      <mat-option value="availAcSittingSeat">availAcSittingSeat</mat-option>
      <mat-option value="availNonAcSittingSeat">availNonAcSittingSeat</mat-option>
      <mat-option value="availNonAcSleeperSeat">availNonAcSleeperSeat</mat-option>
      <mat-option value="availAcSleeperSeat">availAcSleeperSeat</mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <button type="submit" class="btn btn-primary">Check Availability</button>
</form>
<hr>

<form *ngIf="flag,else elseblock">
  <label>
    Passenger Name:
    <input type="text" >
  </label>
  <br>
  <label>
    Passenger Age:
    <input type="number">
  </label>
  <br>
  <label>
    Gender:
    <input type="text">
  </label>
  <br>
  <label>
    Physical Disabled:
    <input type="text" >
  </label>
  <br>
  <button type="submit" (click)="checkPrice()" class="btn btn-primary">Calculate price</button>
  {{finalprice}}
</form>

<div>
  <ng-template #elseblock>
    <h1>Seat Not Available</h1>
  </ng-template>
</div>