<br>
<br>
<form (ngSubmit)="checkavailabilty()">
  <mat-form-field appearance="fill" class="mt20 w100">
    <mat-label>Categories</mat-label>
    <mat-select name="category" [(ngModel)]="booking.coachType">
      <mat-option value="availAcSittingSeat">availAcSittingSeat</mat-option>
      <mat-option value="availNonAcSittingSeat">availNonAcSittingSeat</mat-option>
      <mat-option value="availNonAcSleeperSeat">availNonAcSleeperSeat</mat-option>
      <mat-option value="availAcSleeperSeat">availAcSleeperSeat</mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <button type="submit" class="btn btn-primary">Check Availability</button>
</form>
<hr>

 <form *ngIf="flag,else elseblock" (ngSubmit)="confirmbooking()">  
  <label>
    Passenger Name:
    <br><input type="text" [(ngModel)]="booking.pName" placeholder="Enter Passenger's name" required id="pname" name="pname">
  </label>
  <br>
  <label>
    Passenger Age:
    <br><input type="number" [(ngModel)]="booking.pAge" placeholder="Enter Passenger's age" required id="page" name="page">
  </label>
  <br>
  <mat-form-field appearance="fill" class="mt20 w100">
    <mat-label>Select Gender</mat-label>
    <mat-select name="category" [(ngModel)]="booking.pGender">
      <mat-option value="male">Male</mat-option>
      <mat-option value="Female">Female</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="mt20 w100">
    <mat-label>Physically Disabled</mat-label>
    <mat-select name="category" [(ngModel)]="booking.pDisabled">
      <mat-option value="1">Disabled</mat-option>
      <mat-option value="0">Not Disabled</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button type="button" (click)="checkPrice()" class="btn btn-primary">Calculate price</button>
  <h1>{{finalprice}}</h1>
  <button type="submit"  class="btn btn-primary">Confirm Booking</button>
 <br>
 


</form>

<div>
  <ng-template #elseblock>
   <div *ngIf="!bool">
    <h1 >Select The Seat Type</h1>
  </div>
  <div  *ngIf="bool">
    <h1>Seat Not Available</h1>
  </div>
  <hr>
  </ng-template>
</div>