<section class="container">
  <div class="form-control">
    <h1>Ticket</h1>
    <div class="row">
      <article class="card fl-left">
        <section class="date">
          <time datetime="23th feb">
            <span>{{item.passengerName}}</span>
            <span>{{item.passengerAge}}</span>
            <br>
            <span>{{item.passengerGender}}</span>
          </time>
        </section>
        <section class="card-cont">
          <h1 style="color: red;">Revature Railways</h1>

          <div class="even-date">
            <i class="fa fa-calendar fa-fw mr-1"></i>
            <time>
              <span>{{item.travelDate}}</span>
            </time>
          </div>
          <br>
          <div class="even-info">
            <i class="fa fa-map-marker fa-fw mr-1"></i>
            <h2>
              From: {{item.source}}

              <!-- {{this.ticketprice}} -->
              <!-- nexen square for people australia, sydney -->
            </h2>

          </div>
          <div class="even-info">
            <i class="fa fa-map-marker fa-fw mr-1"></i>
            <h2>
              To: {{item.destination}}
            </h2>

          </div>
          <span>
            <h3>Distance(KM) :: {{item.totalDistance}}</h3>
            <h4>
            Train Name  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   :: &nbsp;{{this.item.trainname}}
          </h4>
          <h4>
            Coach ID   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    ::&nbsp;{{this.item.coachid}}
          </h4>
          <h4>
            SEAT NO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;::&nbsp;{{this.item.seatno}}
          </h4>
        </span>
      </section>
      <section class="card-cont">
        <qr-code [value]="qrInfo" [size]="size"></qr-code>
        <br>
        <br>
        <br>
        <!--style="margin-left: 600px ;" -->
          <img src="../../assets/img/Ticket.jpg" width="100" height="100">
          <br>
          <br>
          <button mat-raised-button color="primary" onclick="window.print()" style="margin-left: 150px ;">Print</button>
        </section>
      </article>
    </div>
  </div>
</section>
